<button mat-dialog-close class="cls-btn">X</button>
<h1 mat-dialog-title>{{card.title}}</h1>
<h3><span *ngFor="let tag of card.tags">{{tag}} </span></h3>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div>
        <div *ngFor="let prop of card.properties">
          <span>{{ prop.name }}  {{ prop.value }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <h2>Backlinks</h2>
        <span *ngFor="let backlink of card.backlinks">{{ backlink.title }}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img [src]="card.previewUrl">
      </div>
      <div>
        <p>
          {{card.description}}
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-dialog-actions align="center">
      <a mat-raised-button color="primary" [href]="card.url" target="_blank">ZOBACZ</a>
  </mat-dialog-actions>
</div>
