nav {
  height: 80vh;
  position: fixed;
  top: 10vh;
  // background-color: antiquewhite;

  // @media screen AND (max-width: 768px) {
  //   display: none;
  // }
}

.btn-circle > * {
  padding: 0;
}

a:last-of-type {
  margin-top: auto;
}
