<nav class="nav flex-column align-items-center">
  <!-- <a class="nav-link active" aria-current="page" href="#">Active</a> -->
  <a mat-mini-fab color="warn">
    <!-- <mat-icon>home</mat-icon> -->
    <app-icon-pen (click)="openModal()"></app-icon-pen>
  </a>
  <hr />
  <a
    routerLink="workspace/1"
    mat-flat-button
    color="primary"
    style="margin-left: 5px; margin-right: 5px; margin-bottom: 10px"
    >WS1</a
  >
  <!-- <a mat-flat-button color="primary" style="margin-left: 5px; margin-right: 5px"
    >WS2</a
  > -->
  <!-- <a class="nav-link" href="#" >Link</a> -->
  <!-- <a class="nav-link" href="#">Link</a> -->
  <!-- <a class="nav-link disabled">Disabled</a> -->
  <a mat-mini-fab color="warn" routerLink="graph/1"
    ><app-icon-graph></app-icon-graph>
  </a>
</nav>
